---
import Layout from '@layouts/Layout.astro'
import Navbar from '@components/Navbar.jsx'
import Header from '@components/Header.astro'
import Experience from '@components/Experience.astro'
import Projects from '@components/Projects.astro'
import MyTechs from '@components/MyTechs.astro'
import { i18nLayout } from '@i18n'
---

<Layout title={i18nLayout["en"].title}>
	<Navbar client:load lang="en" />
	<main>
		<Header lang="en" />
		<Experience lang="en" />
		<Projects lang="en" />
		<MyTechs lang="en" />
	</main>
</Layout>

<style>
	main{
		max-width: 850px;	
		margin: 0 auto;
		padding: 1rem;
	}
</style>
