---
import Layout from '../layouts/Layout.astro'
import Navbar from '../components/Navbar.jsx'
import Header from '../components/Header.astro'
import Experience from '../components/Experience.astro'
import Projects from '../components/Projects.astro'
import MyTechs from '../components/MyTechs.astro'
---

<Layout title="Mi portfolio">
	<main>
		<Navbar client:load />
		<Header />
		<Experience />
		<Projects />
		<MyTechs />
	</main>
</Layout>

<style>
	main{
		max-width: 850px;	
		margin: 0 auto;
		padding: 1rem;
	}
</style>
