---
import CardContainer from '../components/CardContainer.jsx'
import Card from '../components/Card.jsx'
import { i18nExperience } from '@i18n'

const { lang = "es" } = Astro.props
---

<section id="experiencia">
    <h3>{ i18nExperience[lang].title }</h3>
    <CardContainer>
        <Card 
            title="2022" 
            web="https://learn.microsoft.com/es-es/training/achievements/learn.language.build-javascript-applications-typescript.trophy?username=MarioPrezPizarro-0420"
            place="Microsoft Learn"
        >
        <p>{ i18nExperience[lang].ms_learn_ts[0] }</p>
        <p>{ i18nExperience[lang].ms_learn_ts[1] }</p>
        </Card>
        <Card title="2022" place='Canal Cúbico'>
            <p>{ i18nExperience[lang].canal_cubico[0] }</p>
            <p>{ i18nExperience[lang].canal_cubico[1] }</p>
        </Card>
        <Card title="2020 - 2022" place='Escuela Virgen de Guadalupe'>
            <p>{ i18nExperience[lang].evg[0] }</p>
            <p>{ i18nExperience[lang].evg[1] }</p>
        </Card>
        <Card title="2018 - 2020" place='IES Rodríguez Moñino'>
            <p>{ i18nExperience[lang].bachiller }</p>
        </Card>
    </CardContainer>
</section>

<style>
    section{
		margin: 2rem 0;
		padding: .2rem;
	}

	h3{
		font-size: 1.5rem;
		color: #306EFF;
	}

	@media screen and (max-width: 650px){
		h3{
			font-size: 1.1rem;
		}
	}
</style>