---
import Techs from '../components/Techs.jsx'
import { i18nTechs } from '@i18n'

const { lang = "es" } = Astro.props
---

<section id='tecnologías'>
    <h3>{ i18nTechs[lang].title }</h3>
    <Techs />
</section>

<style>
    section{
		margin: 2rem 0;
		padding: .2rem;
	}

	h3{
		font-size: 1.5rem;
		color: #306EFF;
	}

	@media screen and (max-width: 650px){
		h3{
			font-size: 1.1rem;
		}
	}
</style>