---
import CardContainer from '../components/CardContainer.jsx'
import Card from '../components/Card.jsx'
import { i18nProjects } from '@i18n'

const { lang = "es" } = Astro.props
---

<section id="proyectos">
    <h3>{ i18nProjects[lang].title }</h3>
    <CardContainer>
        <Card
            title="MD-viewer"
            github="https://github.com/mperezpizarro/md-viewer"
            web="https://dr4fty-md-viewer.vercel.app/"
            techs="Vite, Preact, Tailwind"
        >
            <p>
                { i18nProjects[lang].md_viewer }
            </p>
        </Card>
        <Card
            title="Fichas de doblaje"
            github="https://github.com/mperezpizarro/fichas-doblaje"
            web="https://fichas-doblaje.vercel.app/"
            techs="Nuxt, Vue, Tailwind"
        >
            <p>
                { i18nProjects[lang].fichas_doblaje }
            </p>
        </Card>
        <Card
            title="Blog Personal"
            web="https://dr4fty-blog.vercel.app/"
            techs="Astro, React, Tailwind, Markdown"
        >
            <p>
                { i18nProjects[lang].blog }
            </p>
        </Card>
        <Card 
            title="Animal Pics" 
            github='https://github.com/mperezpizarro/animal-pics'
            web='https://animal-pics.vercel.app '
            techs='Next, React, Tailwind'
        >
            <p>
                { i18nProjects[lang].animal_pics }
            </p>
        </Card>
        <Card 
            title="Password generator"
            techs='Vite, React, Tailwind'
            github='https://github.com/mperezpizarro/password-generator'
            web='https://dr4fty-password-generator.vercel.app'
        >
            <p>
                { i18nProjects[lang].password_generator }
            </p>
        </Card>
        <Card 
            title="Badajoz Unida"
            techs='Angular, PHP'
            github='https://github.com/genarosalas10/badajozUnida'
        >
            <p>
                { i18nProjects[lang].badajoz_unida }
            </p>
        </Card>
    </CardContainer>
</section>

<style>
    section{
		margin: 2rem 0;
		padding: .2rem;
	}

	h3{
		font-size: 1.5rem;
		color: #306EFF;
	}

	@media screen and (max-width: 650px){
		h3{
			font-size: 1.1rem;
		}
	}
</style>