---
import CardContainer from '../components/CardContainer.jsx'
import Card from '../components/Card.jsx'
---

<section id="proyectos">
    <h3>MIS PROYECTOS</h3>
    <CardContainer>
        <Card
            title="Fichas de doblaje"
            github="https://github.com/mperezpizarro/fichas-doblaje"
            web="https://fichas-doblaje.vercel.app/"
            techs="Nuxt, Vue, Tailwind"
        >
            <p>
                Proyecto para aprender Nuxt que busca y muestra datos a través de una API creada en el mismo framework.
            </p>
        </Card>
        <Card
            title="Blog Personal"
            web="https://dr4fty-blog.vercel.app/"
            techs="Astro, React, Tailwind, Markdown"
        >
            <p>
                Blog personal donde subo artículos relacionados con el diseño y desarrollo frontend.
            </p>
        </Card>
        <Card 
            title="Animal Pics" 
            github='https://github.com/mperezpizarro/animal-pics'
            web='https://animal-pics.vercel.app '
            techs='Next, React, Tailwind'
        >
            <p>
                Aplicación que muestra una foto al azar de un Shiba, pato o zorro gracias a la ayuda
                de distintas APIs.
            </p>
        </Card>
        <Card 
            title="Password generator"
            techs='Vite, React, Tailwind'
            github='https://github.com/mperezpizarro/password-generator'
            web='https://dr4fty-password-generator.vercel.app'
        >
            <p>
                Aplicación sencilla para generar una contraseña aleatoria. Permite ajustar la
                longitud de la misma de 8 a 24 caracteres
            </p>
        </Card>
        <Card 
            title="Badajoz Unida"
            techs='Angular, PHP'
            github='https://github.com/genarosalas10/badajozUnida'
        >
            <p>
                Proyecto en grupo de fin de curso que consistía en el prototipo de una plataforma para organizar y unirse
                a diferentes eventos multiculturales en la ciudad de Badajoz
            </p>
        </Card>
    </CardContainer>
</section>

<style>
    section{
		margin: 2rem 0;
		padding: .2rem;
	}

	h3{
		font-size: 1.5rem;
		color: #306EFF;
	}

	@media screen and (max-width: 650px){
		h3{
			font-size: 1.1rem;
		}
	}
</style>